.about {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 0 100px;
    box-sizing: border-box;
    margin-top: 38px;
    margin-bottom: 38px;
}

.about__dropdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;
    gap: 30px;

    .dropdown__header {
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .dropdown__chevron {
        width: 32px;
        height: 32px;
    }

    .dropdown__content {
        padding: 20px;
        color: black;
        font-size: 18px;
        line-height: 1.6;
    }
}