.about {
  display: flex;
  flex-direction: column;
  gap: 38px; 
  padding: 0 100px;
  box-sizing: border-box;
  margin-top: 38px;
  margin-bottom: 38px;
}


.about__dropdowns {
  display: flex;
  flex-direction: column;
  align-items: center;
   max-width: 1023px;
    width: 100%;
   margin: 0 auto; 
   gap: 30px;
}