.home {
  display: flex;
  flex-direction: column;
  gap: 50px; 
  padding: 0 100px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home__cards {
 
  background: #f7f7f7;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 70px;
  box-sizing: border-box; 
}