.home {
  display: flex;
  flex-direction: column;
  gap: 50px; 
  padding: 0 100px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home__cards {
 
  background: #f7f7f7;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 70px;
  box-sizing: border-box; 
}


@media (max-width: 768px) {
  .home {
    padding: 0 20px; // On réduit les marges sur les côtés
    gap: 22px;       // On réduit l'espace entre la bannière et les cartes
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .home__cards {
    grid-template-columns: 1fr; // Une seule colonne (empilé)
    padding: 0;                 // On enlève le padding interne du bloc gris
    background: transparent;    // On enlève le fond gris (souvent le cas sur mobile pour Kasa)
    gap: 20px;  
    
          .card {
        height: 255px;
    }// Espace plus petit entre les cartes
  }


    
}