main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 139px;
  margin: 139px 0px;


h1 {
  color: #ff6060;
  font-size: 288px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

p {
  color: #ff6060;
  font-size: 36px;
  text-align: center;
  font-weight: medium;
  margin: 0;
}

a {

  font-size: 18px;
  text-decoration: underline;
  color: black;
}

}