.product {
    padding: 0 100px;
    margin: 50px 0px 50px 0px;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        width: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1;
    }

    &__header {
        display: flex;
        flex-direction: column;
    
    }

    &__title {
        color: #FF6060;
        font-size: 36px;
        margin: 0;
    }

    &__location {
        color: #000000;
        font-size: 18px;
        margin: 0;
    }

    

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        flex: 1;
    }

    &__dropdowns {
        display: flex;
        align-items: stretch;
        gap: 76px;
        margin-top: 24px;
        width: 100%;

        .dropdown {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .dropdown__header {
            padding: 14px 20px;
            font-size: 18px;
            font-weight: bold;
            height: 52px;
            box-sizing: border-box;
            border-radius:10px ;
        }

        .dropdown__chevron {
            width: 24px;
            height: 24px;
        }

        .dropdown__content {
            padding: 20px;
            font-size: 18px;
            line-height: 1.4;
            flex: 1;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .product {
        padding: 0 20px; 
        margin: 20px 0;  

        .slideshow {
            height: 255px; 
            border-radius: 10px;
            
            img {
                border-radius: 10px;
            }
        }
        &__info {
            flex-direction: column; 
            margin-top: 15px;
            gap: 10px;
        }

        &__left {
            width: 100%;
            gap: 10px;
        }

        &__header {
            gap: 5px;
        }

        &__title {
            font-size: 18px; 
            font-weight: 500;
        }

        &__location {
            font-size: 14px; 
        }

        .tags {
            gap: 5px;
            
            &__item {
                font-size: 10px; 
                min-width: 84px; 
                height: 18px;    
                
                
                padding: 0 6px;  
                box-sizing: border-box; 
                
              
                display: flex;
                justify-content: center;
                align-items: center;
                
                border-radius: 5px;
                white-space: nowrap; 
            }
        }

    
        &__right {
            width: 100%;
            flex-direction: row-reverse; 
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .rating {
            gap: 2px;

            img {
                width: 18px; 
                height: 18px;
            }
        }

        
        .host {
            &__name {
                font-size: 12px;
            }
            &__picture {
                width: 32px;
                height: 32px;
            }
        }

     
        &__dropdowns {
            flex-direction: column; 
            gap: 20px;
            margin-top: 0px;

            .dropdown {
                width: 100%;
            }

            .dropdown__header {
                font-size: 13px; 
                height: 30px;    
                padding: 0 10px;
                border-radius: 5px;
            }

            .dropdown__chevron {
                width: 20px;
                height: 20px;
            }

            .dropdown__content {
                font-size: 12px; 
                padding: 15px;
            }
        }
    }
}
