.dropdown {
    width: 100%;

    &__header {
        width: 100%;
        background: #FF6060;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', Arial, sans-serif;
    }

    &__arrow {
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;

        &.open {
            transform: rotate(180deg);
        }
    }

    &__content {
        background: #F6F6F6;
        border-radius: 0 0 5px 5px;
    }
}