.dropdown {
    width: 100%;

    &__header {
        width: 100%;
        background: #FF6060;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', Arial, sans-serif;
        position: relative;
        z-index: 2;
    }

    &__arrow {
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
    }

    &.open .dropdown__arrow {
        transform: rotate(-180deg);
    }

    &__slider {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease; 
    }

    &.open .dropdown__slider {
        max-height: 500px;
        transition: max-height 1s ease; 
    }

    &__content {
        background: #F6F6F6;
        border-radius: 0 0 5px 5px;
        color: black;
    }
}