.dropdown {
  width: 100%; 

  &__header {
    width: 100%;
    padding: 10px 20px;
    background: #ff6060;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;

    &.open {
      transform: rotate(180deg);
    }
  }

  &__chevron {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1); // rend le chevron blanc
    display: block;
  }

  &__content {
    padding: 20px;
    background: #f7f7f7;
    border-radius: 0 0 5px 5px;
    color: #555;
    line-height: 1.6;
  }
}