.footer {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 0;

  &__logo {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 209px; 
    padding: 60px 20px; 
    box-sizing: border-box;

    &__logo {
      margin-bottom: 12px;
    }

    &__text {
      font-size: 12px; 
      width: 130px; 
    }
  }
}