.footer {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 0;
  width: 100%;

  &__logo {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
}