.header {
  background: #fff;
  padding: 0 100px;
  box-sizing: border-box;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo img {
    height: 68px; 
  }

  &__nav {
    display: flex;
    gap: 57px;

    a {
      color: black;
      text-decoration: none;
      font-size: 24px;
      position: relative;

      &.active {
        border-bottom: 2px solid black;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
    margin-top: 20px;

    &__logo img {
      height: 40px; 
    }

    &__nav {
      gap: 20px; 

      a {
        font-size: 12px; 
        text-transform: uppercase; 

        &.active {
        border-bottom: 1px solid black;
      }
      }
    }
  }
}