.host {
    display: flex;
    align-items: center;
    gap: 10px;

    &__name {
        color: #FF6060;
        font-size: 18px;
        text-align: right;
        max-width: 100px;
    }

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
}
