.slideshow {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;

        &--left {
            left: 20px;
            transform: translateY(-50%) rotate(180deg);
        }

        &--right {
            right: 20px;
        }
    }

    &__counter {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .slideshow {

        &__counter {
            display: none;
        }


        &__arrow {
            width: 24px;
            height: 24px;
            

            img {
                width: 100%;
                height: 100%;
            }

    
            &--left {
                left: 2px;
            }
            &--right {
                right: 2px;
            }
        }
    }
}
