.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__item {
        background-color: #FF6060;
        color: white;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 14px;
        min-width: 115px;
        text-align: center;
    }
}
