.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__item {
        background-color: #FF6060;
        color: white;
        padding: 4px 20px;
        border-radius: 10px;
        font-size: 14px;
        text-align: center;
    }
}
